html{
    font-style: "Segoe Script";
}
nav.navbar-inverse{
    height:10%;
    background-color: #7299fe;
    border-style: none;
}
/* visited link para la página de inicio*/
a.navbar-brand:visited {
    color: blueviolet;
}
button.btn.btn-success{
    background-color: #7299fe;
    border-style: none;
    margin-left: 45%;
    font-size: 25px;
}
button.btn.btn-primary{
    background-color: #7299fe;
    border-style: none;
    font-size: 25px;
}
/*Formulario de registro de los usuarios*/
div.usuarios-create {
  margin-left: 20%;
  margin-right: 20%;
}
div.site-login{
    margin-left: 30%;

}

/*Parte de la derecha del menu*/
li>a{
    background-color: yellow;
}
