nav.navbar-inverse.navbar-fixed-top.navbar{
    height:80px;
    background-color: #7299fe;
    border-style: none;
}
button.btn.btn-success{
    background-color: #7299fe;
    border-style: none;
    margin-left: 45%;
    font-size: 25px;
}
button.btn.btn-primary{
    background-color: #7299fe;
    border-style: none;
    font-size: 25px;
}
/*Formulario de registro de los usuarios*/
div.usuarios-create {
   margin-left: 20%;
   margin-right: 20%;
}
div.site-login{
    margin-left: 30%;
}
/*vista.php*/
div.items{
    background-color: #B9B9B9;
    width: 1140px;
    height: 250px;
}
div.EventoImagen{
    float: left;
    margin-left: 20px;
    margin-top: 25px;
    width: 200px;
    height: 200px;
}
img.Eimg{
    width: 200px;
    height: 200px;
}
div.EventoNombre{
    padding-top: 1px;
    margin-top: 20px;
    margin-left: 230px;
}
div.EventoDireccion,div.EventoUsuario,div.EventoTipo, div.EventoArtista{
    float: left;
    margin-left: 10px;
}
div.Recuadro{
    margin-left: 230px;
    margin-right: 250px;
    margin-top: 30px;
}
div.EventoCompra{
    margin-top:30px;
    float: right;
}
#cuadro{
    margin-right: 20px;
}
#iconocompra{
    width: 60px;
    margin-left: 60px;
}
.agotado{
    display: none;
}
#entradas{
    display: none;
}




