nav.navbar-inverse.navbar-fixed-top.navbar{
    height:80px;
    background-color: #7299fe;
    border-style: none;
}
button.btn.btn-success{
    background-color: #7299fe;
    border-style: none;
    margin-left: 45%;
    font-size: 25px;
}
button.btn.btn-primary{
    background-color: #7299fe;
    border-style: none;
    font-size: 25px;
}
/*Formulario de registro de los usuarios*/
div.usuarios-create {
   margin-left: 20%;
   margin-right: 20%;
}
div.site-login{
    margin-left: 30%;
}
div#w0.grid-view{
    background-color: aqua;
}
tbody tr{
    background-color: blueviolet;
}