nav.navbar-inverse.navbar-fixed-top.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7299fe;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

div.navbar-header {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
button.btn.btn-success{
    background-color: #7299fe;
    border-style: none;
    margin-left: 45%;
    font-size: 25px;
}
button.btn.btn-primary{
    background-color: #7299fe;
    border-style: none;
    font-size: 25px;
}
/*Formulario de registro de los usuarios*/
div.usuarios-create {
   margin-left: 20%;
   margin-right: 20%;
}
div.site-login{
    margin-left: 30%;
}
/*vista.php*/
div.item{
    background-color: #B9B9B9;
    width: 100%;
    height: 250px;
}
div.EventoImagen{
    float: left;
    margin-left: 20px;
    margin-top: 25px;
    width: 200px;
    height: 200px;
}
img.Eimg{
    width: 200px;
    height: 200px;
}
div.EventoNombre{
    padding-top: 1px;
    margin-top: 20px;
    margin-left: 230px;
}
div.EventoDireccion,div.EventoUsuario,div.EventoTipo, div.EventoArtista{
    float: left;
    margin-left: 10px;
}
div.Recuadro{
    width: 20%;
    margin-left: 230px;
    margin-top: 30px;
}
div.EventoCompra{
    margin-top:30px;
    float: right;
}
#cuadro{
    margin-right: 20px;
}
#iconocompra{
    margin-left: 50px;
    margin-top: 30px;
    background-color: #7299fe;
}
.agotado{
    display: none;
}
#entradas{
    display: none;
}

#imagenlogo{max-width: 95%;}
.icono{max-width:90%; margin-top: auto;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{background-color:transparent;}
